html, body {
  height: 100%
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  margin:0;
}

.image {
	position: relative;
	left: 0px;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: scroll;
	text-align: center;
}

.wrap {
  height: 100%;
	overflow: hidden;
	position: relative;
}

img {
  max-width: 40%;
  max-height: 40%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
